<div class="container">
  <div class="row">
    <div class="col s6">
      <app-subject-form [editSubject$]="editSubject$" (newSubject)="handleNewSubject($event)"></app-subject-form>
    </div>
    <div class="col s6">
      <app-subject-table
        [subjects$]="subjects$"
        actions="edit,remove"
        (edit)="handleEdit($event)"
      ></app-subject-table>
    </div>
  </div>
</div>
