<h1>FORMULAIRE</h1>
<!--<form #form name="createSubject" (ngSubmit)="handleSubmit(form)">-->
<!--  <div class="form-input">-->
<!--    <label for="title">Titre</label>-->
<!--    <input type="text" name="title" id="title">-->
<!--  </div>-->
<!--  <div class="form-input">-->
<!--    <label for="user">User</label>-->
<!--    <select name="user" id="user">-->
<!--      <option *ngFor="let user of users$ | async" [value]="user.id">-->
<!--        {{ user.username }}-->
<!--      </option>-->
<!--    </select>-->
<!--  </div>-->
<!--  <button type="submit">Ajouter le sujet</button>-->
<!--</form>-->

<form [formGroup]="fg" (ngSubmit)="handleSubmit()">
  <div class="input-field">
    <label for="title" class="active">Titre</label>
    <input type="text" id="title" name="title" formControlName="title">
  </div>
  <div class="input-field">
    <label for="userId" class="active">User</label>
    <select [mSelect]="users$" id="userId" formControlName="userId">
      <option selected value="0">No user select</option>
      <option *ngFor="let user of users$|async" [value]="user.id">
        {{ user.username }}
      </option>
    </select>
  </div>
  <ng-container formArrayName="keyWords">
    <div #chips class="chips">
    </div>
  </ng-container>

  <button class="btn" type="submit">Ajouter</button>
</form>

<div class="row">
  <div class="col s12">
    <ul class="tabs" mTabs [options]="{duration: 2000}">
      <li class="tab col s3"><a href="#test1">Test 1</a></li>
      <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
      <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
      <li class="tab col s3"><a href="#test4">Test 4</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">Test 1</div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>
</div>
