<h1>LISTE</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Creator</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let subject of subjects$ | async">
    <tr>
      <td>{{ subject.title }}</td>
      <td>{{ subject.user?.username || "Pas de user" }}</td>
      <td>
        <button *ngIf="hadAction('edit')" class="btn" (click)="editAction(subject)">EDIT</button>
        <button *ngIf="hadAction('remove')" class="btn" (click)="removeAction(subject)">REMOVE</button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
